html {
	background-image: url("felt.jpg");
}

#player2info, #player4info {width: 150px;}

textarea{resize:none;}

h1{color:white;}

h3{color:white;}

p{color:white:}

img{
	height: 90px;
	width: 60px;
}

div.board{
	width: 100%;
}

div#player2Div, div#player4Div {
	width:90px;
}

tr, td {
	padding: 0px; 
}

span.corner {
	display: block;
	width: 100px;
}

img.p4 {
	-webkit-transform:rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	padding
}

img.p3 {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

img.p2 {
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

div#player4Div {
	padding-left:40px
}

img.p1, img.p3 {
	padding-left:5px;
}

img.p2, img.04 {
	clear:left;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}