html {
	background-image: url("felt.jpg");
}

#player2info, #player4info {width: 150px;}

textarea{resize:none;}

h2, h3 {
	color:white;
	}

p{color:white:}

img{
	height: 90px;
	width: 60px;
}

div.board{
	width: 100%;
}

div#player2Div, div#player4Div {
	width:90px;
}

tr, td {
	padding: 0px; 
}

span.corner {
	display: block;
	width: 100px;
}

img.p4 {
	-webkit-transform:rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

img.p3 {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

img.p2 {
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

div#player4Div {
	padding-left:40px
}

img.p1, img.p3 {
	padding-left:5px;
}

img.p2, img.04 {
	clear:left;
}

img.chip {
	height: 50px;
	width: 50px;
	padding-left: 5px;
	padding-top: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tooltip {
  visibility: hidden;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
}

.imgWrap:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.p1Stats {margin-top:0em;}
.p3Stats {margin-bottom:0em;}
.p1Stats, .p3Stats{text-align: center;}

.colorchoose {
	background-color: #ffffff;
	float: left;
	position: absolute;
	top: 50%;
}
