html {
	/* background-image: url("felt.jpg"); */
	background: rgb(0,133,14);
	background: radial-gradient(circle, rgba(0,133,14,1) 0%, rgba(9,121,23,1) 35%, rgba(19,98,29,1) 100%);
	font-family: 'Carter One', cursive;
}

#player2info, #player4info {vertical-align: middle; width: 150px;}

textarea {
	resize:none;
	border-radius: 25px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 20px;
	background: rgb(227,220,194);
	background: linear-gradient(340deg, rgba(227,220,194,1) 0%, rgba(227,220,194,1) 50%, rgba(255,255,255,1) 100%);
	font-family: 'Josefin Sans', sans-serif;
	font-size: small;
}

h2, h3 {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

p{color:white:}

img{
	height: 90px;
	width: 60px;
	border-radius: 15%;
}

div.board{
	width: 100%;
}

div#player2Div, div#player4Div {
	width:90px;
	height: 400px;
	vertical-align: middle;
}

div#player3Div {
	text-align: center;
	transform: translate(40%, 0%);
	width: 100%;
}

tr, td {
	padding: 0px; 
}

span.corner {
	display: block;
	width: 100px;
}

img.p4 {
	-webkit-transform:rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

img.p3 {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

img.p2 {
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

div#player4Div {
	padding-left:40px
}

img.p1, img.p3 {
	margin-left:5px;
}

img.p2, img.04 {
	clear:left;
}

img.chip {
	height: 50px;
	width: 50px;
	padding-left: 5px;
	padding-top: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tooltip {
  visibility: hidden;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
}

.imgWrap:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.p1Stats {margin-top:0em;}
.p3Stats {margin-bottom:0em;}
.p1Stats, .p3Stats{text-align: center;}

div.chatarea {
	float: left;
	vertical-align: middle;
	text-align: center;
}

div.cardh {
	position: relative;
	float: left;
}

div.cardv {
	position: relative;
	float: top;
}

div.hand {
}

div.table {
	float: left;
}

.deck {
	align: center;
}

.chooser {
	border-radius: 25px;
	padding: 20px;
	background-color: #e3dcc2;
	float: left;
	position: absolute;
	top: 75%;
	left: 50%;
	display: none;
	font-family: 'Josefin Sans', sans-serif;
}

